body{
    margin: 0;
    padding: 0;
    


}

.portada{
    width: 100%;
    height: 80%;
    background-image: url(https://www.dondeir.com/wp-content/uploads/2018/12/rammstein-live.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.portada h1 {
    color: white;
    z-index: 2;
    font-size: 7em;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 1px 1px 2px blue;

}

.darkness {
    width: 100%;
    height: 70%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}
.nav {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.nav-list{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.2em;
    
}
.nav-list li {
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: white;
    text-decoration-style: none;   
}

.nav-list li:hover {
    color: crimson;
   

}

.nav-list li a {
    text-decoration: none;  
    color: inherit; 


}


.quienes-section {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}



.quienes-somos-class {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    -webkit-box-shadow: -2px 10px 84px -4px rgba(0,0,0,1);
    -moz-box-shadow: -2px 10px 84px -4px rgba(0,0,0,1);
	box-shadow: -2px 10px 84px -4px rgba(0,0,0,1);
	padding: 2%;
	
}

.titulo{
	font-size: 2em;
	
}

.parrafo-titulo{
  	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    letter-spacing: 1px;
	text-align: justify;
	
   }